@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Rajdhani&display=swap");
* {
  /* margin: 0 !important; */
  /* padding: 0 !important; */
  font-family: "Rajdhani", "sans-serif";
  transition: 0.3s all ease;
}

input {
  border: none;
  border-bottom: 1px solid lightgray;
}

input:focus {
  border: 0;
}

.viewPanal {
  margin: 0 !important;
}
