/*----- Login Page----- */

.LoginForm {
  height: 100%;
  margin: auto 0;
  padding: 0 50px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 5px;
  background-color: #fff;
}

.Login_Body {
  height: 100%;
}

/*----- Search Page----- */
.SearchForm {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #fff;
}

/*----- Home Page----- */

.homeHeaderDiv {
  background: rgb(43, 88, 118);
  background: linear-gradient(
    90deg,
    rgba(43, 88, 118, 1) 0%,
    rgba(36, 59, 85, 1) 100%
  );
  border-radius: 8px;
  justify-content: center;
}

.avater {
  padding: 4px;
  background-color: #eee;
  border-radius: 999px;
}

.imageBox {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.imageBox::-webkit-scrollbar {
  display: none;
}

.pdfHistoryBox {
  color: black;
  padding: 12px;
  background-color: #f2f2f5;
  border-radius: 12px;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.historyBox {
  color: #fff;
  background: rgb(176, 106, 179);
  background: linear-gradient(
    90deg,
    rgba(176, 106, 179, 1) 0%,
    rgba(69, 104, 220, 1) 100%
  );
  padding: 12px;
  border-radius: 8px;
  align-items: center;
}

/*----- Settings Page----- */

.customSettingsPage {
  height: 60px;
  margin-bottom: 10px;
  color: black;
  justify-content: space-between;
  background-color: #eee;
  border-radius: 10px;
}

/*----- OTP Page----- */

.OTPForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

/*----- View Profile Page----- */

.ProfileInfo {
  background-color: #f2f2f5;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/*----- Contact Admin Page----- */

.adminInfo {
  padding: 12px;
  background-color: #f2f2f5;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
